#ide
.vscode/
.idea/

# cartelle e file che iniziano con boost e cpp-netlib
boost*
*.out

# CMake files
CMakeFiles/
cmake_install.cmake
CMakeCache.txt
Makefile
build/

# altro

# tutti i file che cominciano con doppio underscore
# li usiamo come file di test
__*
